@media (min-width: 768px) {
    .h-md-100 {
        height: 100vh;
    }
}
.btn-round {
    border-radius: 30px;
}
.bg-indigo {
    background: indigo;
}
.text-cyan {
    color: #35bdff;
}
.bg-right {
    background: #285a84;
}
.bg-left {
    background: #c2ef7e;
}
.menu-item {
    font-size: 16px;
    margin-right: 15px;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    padding: 20px !important;
    color: #fff !important;
}
.font,
.welcome,
.welcome-text {
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff !important;
}
.welcome {
    font-size: 32px;
}
.welcome-text {
    margin-bottom: 50px;
    font-size: 10px;
}
.font {
    font-size: 20px;
}
.no-shadow {
    box-shadow: none;
}
.dropdown-content a:hover,
a:hover {
    background-color: #4273a1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
